
body {
    font-family: 'Roboto', sans-serif;
}

text {
    /* shape-rendering: geometricPrecision */
}

circle {
    /* shape-rendering: geometricPrecision */
    /* fill: red !important */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}